/**
* Colors
* Darker Blue BgColor = #18597D
* Orange Font & BgColor = #F36B28
* Teal = #29949B
* Teal = #29949B
*/

/** Import Fonts */

body {
  background: #000;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
}

.main-nav {
  background: white;
}

.nav-logo {
  width: 100%;
  margin: 0 auto;
  display: block;
  max-width: 300px;
}

.navbar {
  background: white;
  width: 100%;
}

.navbar-light .navbar-nav .nav-link {
  color: #F36B28;
  font-size: 1.2em
}

.navbar-light .navbar-nav .nav-link.active {
  color: #bd470c;
}

.navbar-light .navbar-toggler {
  margin: 1em auto;

}

.nav-container {
  width: 100%;
}

.menu-container {
  text-align: center;
}

#about {
  background-color: white;
  padding: 2em;
  font-size: 1em;
  flex-grow: 1;
}

#about h2 {
  font-size: 2em;
}

#services {
  background-color: #18597D;
  color: white;
}

#beforeafter {
  background-color: #29949B;
  color: white;
}

footer {
  background-color: #29949B;
  color: white;
}

#beforeafter h2 {
  margin-top: 5px;
}

#testimonials {
  background-color: white;

}

.form-container {
  max-width: 600px;
}

.jumbotron {
  margin-bottom: 0;
  max-height: 600px;
  padding: 4rem 2rem;

}

#contact {
  background-color: #18597D;
  color: white;
}

#jumbotron-heading {
  font-size: 2.4em;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);

}

/* Services Section Styles  */


.services {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.services-card {
  background-color: transparent;
  flex-wrap: wrap;
  flex: 1 25%;
  width: 100%;
  max-width: 500px;
  height: 350px;
  perspective: 1000px;
  align-self: center;
  margin-top: 20px;
  border-radius: 5px;
  /* box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.2); */
}

.services-card-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border-radius: 5px;
}

.services-card:hover .services-card-inner {
  transform: rotateY(180deg);
}

.services-card-front,
.services-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 5px;
  border-radius: 10px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 5px;
}

.services-card-front {
  background-color: #bbb;
  color: black;
  border-radius: 5px;
}

.services-card-back {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f36b28;
  color: white;
  transform: rotateY(180deg);
}

.services-card-front h3 {
  font-size: 2em;
  margin: 0;
  position: relative;
  top: -70px;
  color: white;
  text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.5);
}

.services-card-back p,
.services-card-back a {
  font-size: 1.25em;
  margin: 0;
  text-decoration: none;
  color: white;
}

.services-img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.services-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(350px, 1fr));
  grid-template-rows: auto;
}

/***********************************
***  Testimonial Slider
*************************************/

.shadow-effect {
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  border: 1px solid #ECECEC;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.10), 0 15px 12px rgba(0, 0, 0, 0.02);
}

#customers-testimonials .shadow-effect p {
  font-family: inherit;
  font-size: 17px;
  line-height: 1.5;
  margin: 0 0 17px 0;
  font-weight: 300;
}

.testimonial-name {
  margin: -17px auto 0;
  display: table;
  width: auto;
  background: #3190E7;
  padding: 9px 35px;
  border-radius: 12px;
  text-align: center;
  color: #fff;
  box-shadow: 0 9px 18px rgba(0, 0, 0, 0.12), 0 5px 7px rgba(0, 0, 0, 0.05);
}

#customers-testimonials .item {
  text-align: center;
  padding: 50px;
  margin-bottom: 80px;
  opacity: .2;
  -webkit-transform: scale3d(0.8, 0.8, 1);
  transform: scale3d(0.8, 0.8, 1);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#customers-testimonials .owl-item.active.center .item {
  opacity: 1;
  -webkit-transform: scale3d(1.0, 1.0, 1);
  transform: scale3d(1.0, 1.0, 1);
}

.owl-carousel .owl-item img {
  transform-style: preserve-3d;
  max-width: 90px;
  margin: 0 auto 17px;
}

#before-after-slideshow img {
  transform-style: preserve-3d;
  max-width: 100%;
  margin: 0 auto 17px;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
#customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
  background: #3190E7;
  transform: translate3d(0px, -50%, 0px) scale(0.7);
}

#customers-testimonials.owl-carousel .owl-dots {
  display: inline-block;
  width: 100%;
  text-align: center;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot {
  display: inline-block;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
  background: #3190E7;
  display: inline-block;
  height: 20px;
  margin: 0 2px 5px;
  transform: translate3d(0px, -50%, 0px) scale(0.3);
  transform-origin: 50% 50% 0;
  transition: all 250ms ease-out 0s;
  width: 20px;
}


/*******************************
* Gallery Slider
*******************************/

#before-after-slideshow .shadow-effect p {
  font-family: inherit;
  font-size: 17px;
  line-height: 1.5;
  margin: 0 0 17px 0;
  font-weight: 300;
}


#before-after-slideshow .item {
  text-align: center;
  padding: 0px;
  margin-bottom: 50px;
  opacity: .2;
  -webkit-transform: scale3d(0.8, 0.8, 1);
  transform: scale3d(0.8, 0.8, 1);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#before-after-slideshow .owl-item.active.center .item {
  opacity: 1;
  -webkit-transform: scale3d(1.0, 1.0, 1);
  transform: scale3d(1.0, 1.0, 1);
}

.owl-carousel .owl-item img {
  transform-style: preserve-3d;
  max-width: 100%;
  margin: 0 auto 17px;
}

#before-after-slideshow img {
  transform-style: preserve-3d;
  max-width: 100%;
  margin: 0 auto 17px;
}

#before-after-slideshow.owl-carousel .owl-dots .owl-dot.active span,
#before-after-slideshow.owl-carousel .owl-dots .owl-dot:hover span {
  background: #F36B28;
  transform: translate3d(0px, -50%, 0px) scale(0.7);
}

#before-after-slideshow.owl-carousel .owl-dots {
  display: inline-block;
  width: 100%;
  text-align: center;
}

#before-after-slideshow.owl-carousel .owl-dots .owl-dot {
  display: inline-block;
}

#before-after-slideshow.owl-carousel .owl-dots .owl-dot span {
  background: white;
  display: inline-block;
  height: 20px;
  margin: 0 2px 5px;
  transform: translate3d(0px, -50%, 0px) scale(0.3);
  transform-origin: 50% 50% 0;
  transition: all 250ms ease-out 0s;
  width: 20px;
}

.owl-carousel .owl-item .img-circle {
  max-width: 90px;
  border-radius: 50%;
}

.navbar-light .navbar-brand {
  margin: auto;
}

#nav-container {
  max-width: 100%;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, .3);
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 768px) {
  .jumbotron {
    padding: 4rem 2rem 4rem 4rem;
    font-size: 1.5em;
  }
  .about{
    max-width: 100%;
    margin: 0 auto;
  }
  .about p{
    font-size: 1.5em;
  }

  .navbar-light .navbar-brand {
    margin: 0;
  }

  .navbar-light .navbar-toggler {
    margin: 1em;
  }
}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .about{
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
    font-size: 1.2em;
  }
  #about h2{
    font-size: 2em;
  }

  .jumbotron {
    padding: 4rem 2rem 6rem 2rem;
    font-size: 2em;
  }
  .section{
    padding: 0 5%;
  }
  .main-class{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 100% !important;
    min-height: 100% !important;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  .about{
    max-width: 90%;
  }

  .quote{
    max-width: 800px !important;
  }
  .navbar-light .navbar-nav .nav-link {
    font-size: 1.4em;
  }

}